
/* Create custom CSS Variables*/
/* custom Variables are alway --name: value; */
:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-400: hsl(165, 100%, 40%);
}

/* Start of CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  display: grid;
  min-height: 100vh;
  padding-left: auto;
  line-height: 1.6;
  background: var(--clr-neutral-900);

}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background-color: var(--primary-clr);
}

/* search bar */ 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
}

/* Create three unequal columns that floats next to each other */

/* Left column */
.leftcolumn {   
  float: left;
  width: 40%;
  padding-right: 20px;
}

/* middle */
.middlecolumn {   
  float: left;
  width: 35%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}


/* Card properties */
/* Add a card effect for articles */
.card {
  color: var(--clr-neutral-100);
  background-image: url(images/Cinderwing/Autumn\ Dragon.jpg);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 80ch;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

.card:hover,
.card:focus-within {
  transform:scale(1.05);
}

.card-content {
  --padding:1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% /0),
    hsl(255, 16%, 44%) 20%,
    hsl(0 0% 0% /1)
  );
  transform: translateY(80%);
  transition: transform 500ms ease-in;
}
/*Select everything but NOT .card-title */
.card-content > * :not(.card-title){
  opacity: 0;
  transition: opacity 500 ms linear;
}


/* Nest card:hover and card-content*/
.card:hover .card-content,
.card:focus-within .card-content {
  transform: translateY(0);
  transition-delay: 500ms;
}

.card:focus-within .card-content {
  transition-duration: 0ms;
}

.card:hover .card-content > * :not(.card-title),
.card:focus-within .card-content > * :not(.card-title) {
  opacity: 1;
  transition-delay: 1000ms;
}

.card-title {
  position: relative;
  width: max-content;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
  transform: scaleX(1);
}

.card-body {
  color: var(--clr-neutral-100);
}

.card-title::after {
  content:"";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: 0;
  width: calc(100% + var(--padding));
  background: var(--clr-neutral-400);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;

}

/* Button for Cards */
.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-neutral-900);
  background-color: var(--clr-neutral-400);
  padding: 0.5em 1.25em;
  border-radius: .25em;

}
.button:hover,
.button:focus {
  background-color: var(--clr-neutral-100);
}






/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 10;
  }
}




/* Contact Us Page
/* Style inputs with type="text", select elements and textareas */ 
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 14px;  /* Some padding */
    border: 1px solid #cbcaca;  /* Adding a border with 1px width */
    border-radius: 4px;  /* Rounded Borders */
    box-sizing: border-box;  /* Make sure that the padding and width stay in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Add a bottom margin*/
    resize: vertical; /* Allow the vertically resize the text area (not horizontally)*/

}
/* Style the submit button */

input[type=submit] {
    background-color: #8b8d8da1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* when moving the over the submit button, add a darker grey color */
input[type=submit]:hover {
    background-color: #aaa;
}

/* Add a background color and some padding around the form */ 
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
